node_modules
Models
samples
papers
test*
package-lock.json
.vscode
ANA078.html
ANA078_json.html
ToDo.txt
ErfurtGetriebe_input.html
ErfurtGetriebe14.html
ErfurtGetriebe2.html
Getriebesystematik.html
Syn0377.html
ToDo.txt
